*{
  margin:0;
  box-sizing: border-box;
}

body{
  text-align: center;
  padding: 160px;
  background-image: url(https://i.ibb.co/mC7Ch2z/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}
h1{
  font-family: 'cinzel', sans-serif;
}

h1 spam{
  color:#db2777;
}
h3{
  font-family: 'inter';
  size: 20px;
  margin-bottom: 72px;
}
.lnk-read{
  font-size: 20px;
  margin-right: 30px;
  text-decoration: none;
}
.lnk-travel{
  border-radius: 80px;
  background-color: #db2777;
  padding: 16px 32px;
  color: #ffff;
  font-size: 20px;
  text-decoration: none;
}
